<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.To_setting">
    <select id="findSettingAll" resultType="entity.Setting">
        select * from setting
        <where>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
        </where>
    </select>
    <select id="findCountSettingAll" resultType="entity.Setting">
        select count(*) from setting
        <where>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
            <if test="id != null and id != '' ">
                and id = #{id}
            </if>
        </where>
    </select>
</mapper>